body, html, .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #00FF00;*/
}
.content {
    color: white;
    background-color: #00FF00;
    display: inline-block;
    padding: 20% 5%;
    height: 100%;
}
.btn {
    color: #32CD32;
    background-color: white;
}
input {
    color: white;
    background-color: #32CD32;
}
#map {
  height: 100%;
  width: 100%;
}
